SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/kasir_toko
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

APP_CORS_ALLOWED_ORIGINS=http://localhost:3010,https://your-domain.example
NEXT_PUBLIC_API_BASE_URL=/api

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
